<style type="text/css">body,td,th {	font-family: Georgia,"Times New Roman",Times,serif;;	font-size: 12px;	color: #333;}body {	margin-left: 0px;	margin-top: 30px;	margin-right: 0px;	margin-bottom: 0px;}.maindiv{ width:690px; margin:0 auto; padding:20px; background:#CCC;}.innerbg{ padding:6px; background:#FFF;}.result{ border:solid 1px #CCC; margin:10px 2px; padding:4px 2px;}.title a{ font-weight:bold; color:#c24f00; text-decoration:none; font-size:14px;}.discptn a{ text-decoration:none; color:#999;}.link a{ color:#008000; text-decoration:none;}img{ cursor:pointer;}</style>

<div style="text-align:center;"><div style="display:none;"><img src="img/ajax-loader.gif"  /></div>  <h1 style="color:#CCC;">

</h1></div><div class="maindiv"><div class="innerbg"><table width="100%" border="0" cellpadding="2" cellspacing="2"><tr><td align="left" valign="middle" bgcolor="#008000"><div style="margin:0px 10px; font-weight:bold; color:#FFF; font-size:16px;">Panel administrador</div></td></tr><tr><td align="center" valign="middle">    


<div></strong> </div><div style=" text-align:center; margin:6px 0px;">



<label><input type="submit" name="getReport" id="getReport" style="border: solid 1px #E0451F; background:#E0451F; font-weight:bold; color:#FFF;" value="Nueva Encuesta" /></label>
<br>
<label><input type="submit" name="getReport" id="getReport" style="border: solid 1px #E0451F; background:#E0451F; font-weight:bold; color:#FFF;" value="Plantillas" /></label>
<br>
<label><input type="submit" name="getReport" id="getReport" style="border: solid 1px #E0451F; background:#E0451F; font-weight:bold; color:#FFF;" value="Encuestas" /></label>
<br>
<label><input type="submit" name="getReport" id="getReport" style="border: solid 1px #E0451F; background:#E0451F; font-weight:bold; color:#FFF;" value="Clientes" /></label>
<br>
<label><input type="submit" name="getReport" id="getReport" style="border: solid 1px #E0451F; background:#E0451F; font-weight:bold; color:#FFF;" value="Idiomas" /></label>

<BR><BR><a href="logout.php">Logout</a>
</div></td></tr></table></div></div><div style="padding:4px; text-align:right;">


</div>


